@import "tailwindcss";

@theme {
  --color-dark-shade: #243640;
  --color-light-shade: #00ACFF;
  --color-mid-shade: #1C2D36;
  --color-primary: #06478B;
  --color-secondary: #00AEFF;
  --color-text: #D9D9D9;
}